name: Check VLESS Latency

on:
  schedule:
    - cron: "*/2 * * * *" # каждые 2 минуты
  workflow_dispatch:

jobs:
  check_latency:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiohttp asyncio

      - name: Run latency check
        run: |
          python3 scripts/check_latency.py

      - name: Commit and push results
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add githubmirror/26_alive_final.txt
          if git diff --cached --quiet; then
              echo "No changes to commit"
          else
              git commit -m "Update 26_alive_final.txt"
              git push https://x-access-token:${GH_PAT}@github.com/Rusl2023/new-vpn-monitor HEAD:main
          fi
